.brand_section {
  padding: 12rem 0 0 0;
}
h3 {
  text-align: center;
  text-transform: capitalize;

  font-size: 2rem;
  font-weight: bold;
}

img {
  min-width: 10rem;
  height: 10rem;
}

.brand_section_slider {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* Additional styles for responsiveness */
.slide img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .slide {
    flex: 0 0 50%; /* Two slides per row on smaller screens */
  }
}
